@(loginForm: Form[models.LoginModel])(implicit request:Request[_], lang: Lang)
@import play.api.data.format.Formats._
@import helper._


@main("Welcome to Play") {



  @helper.inputText(
    loginForm("username"),
    '_label -> "Username",
    'onBlur->"usernameValid()",
    '_help -> "Enter a user name."
  )

  @helper.inputText(
    loginForm("password"),
    '_label -> "Password",
    '_help -> "Enter a password."
  )

}

<script type="text/javascript">
var successFn = function(data) {
    alert("Message returned from server: " +data);
    console.debug("Success of Ajax Call");
    console.debug(data);
};

var errorFn = function(err) {
console.debug("Error of ajax Call");
console.debug(err);
}

ajax1 = {
success: successFn,
error: errorFn
}

function usernameValid() {
    var username = $("#username").val();
    jsRoutes.controllers.Application.usernameValid(username).ajax(ajax1);

}
</script>